.hero {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

  height: 240px;
  background-image: url(../images/page-top-bg.jpg);
  background-size: cover;

  &__title {
    display: inline-block;
    padding: 5px 32px;
    border-radius: 4px;

    text-align: center;

    font-size: 70px;
    line-height: 5rem;
    font-weight: bold;

    color: white;
    background-color: deeppink;
    box-shadow: 0px 90px 80px rgba(0, 0, 0, 0.3);
  }
}
// respondsive for hero
@media only screen and (max-width: 576px) {
  .hero__title {
    font-size: 46px;
  }
}

.contact {
  margin: 90px 0px;
}
.contact__comment {
  & > h2 {
    margin-bottom: 75px;

    font-size: 24px;
    font-weight: 600;

    color: #444;
  }
}

.form__group {
  & > input {
    padding: 16px;
    height: 50px;
    width: 100%;

    font-size: 14px;

    border: none;
    background-color: #eff3f7;
  }

  & > textarea {
    padding: 16px;
    width: 100%;

    font-size: 14px;
    border: none;
    background-color: #eff3f7;
  }

  & > button {
    padding: 20px 5px;
    width: 140px;

    border: none;

    color: white;
    background-color: deeppink;

    cursor: pointer;
  }
}

.contact__section {
  padding-top: 10px;
  & > img {
    margin-bottom: 40px;
  }
}
.contact__info {
  padding-left: 85px;
  & > div {
    margin-bottom: 25px;
    & > h4 {
      margin-bottom: 6px;
      width: fit-content;

      font-weight: 500;
      color: deeppink;

      border-bottom: 1px solid deeppink;
    }
    & > p {
      font-size: 14px;
      font-weight: 500;
      line-height: 2rem;

      color: #444;
    }
  }
  &--icon {
    display: flex;
    flex-flow: row wrap;
    padding-top: 20px;

    & > li {
      margin-right: 25px;
      font-size: 15px;
    }
  }
}
