.top-bar {
  color: 0;
  padding: 20px 0;
  background-color: deeppink;

  &__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__icons-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    & > li {
      margin-right: 35px;
      font-size: medium;

      & > a {
        color: white;
      }
    }
  }

  &__link-wrapper > a {
    color: white;

    font-size: 14px;
    font-weight: 600;
  }

  &__link-wrapper > span {
    color: white;
    font-weight: 500;
  }
}

.top-nav {
  color: 0;
  padding: 16px 0;

  &__main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-wrapper {
    width: 25%;
    max-width: 100%;

    & > img {
      height: 64px;
    }
  }

  &__menu {
    display: flex;
    flex-flow: row wrap;

    &--item > a {
      padding: 0px 22px;

      font-size: 15px;
      font-weight: 500;

      color: #474747;
      transition: all 0.35 ease-in-out 0s;
      &:hover {
        color: deeppink;
      }
    }

    &--item.active > a {
      font-weight: 600;
      color: deeppink;
    }
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    background-color: deeppink;
    border-radius: 4px;

    & > a {
      & > i {
        color: white;
        font-size: 16px;
      }
    }
  }
}

// Respondsive
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .top-nav__menu--item > a {
    padding: 12px;
  }
  .top-nav__logo-wrapper > img {
    height: 48px;
  }
}

@media only screen and (max-width: 576px) {
  .top-bar__icons-list {
    // hide icons list on mobile
    display: none;
  }
  .top-bar__main {
    // Center the link-wrapper
    justify-content: center;
  }

  .top-nav {
    position: relative;

    &__menu {
      display: none;
    }

    &__logo-wrapper {
      & > img {
        height: 36px;
      }
    }

    &__search-wrapper {
      display: flex;
      flex-flow: row;

      & > div.top-nav__menu-switch {
        margin-left: 8px;
      }
    }
  }

  // java script
  .top-nav__menu.click {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;

    width: 100%;
    & > li {
      display: flex;
      align-items: center;

      margin-right: 0; // delete margin-right using on latop

      height: 50px;

      background-color: white;
      border: solid 0.5px lightgrey;
    }
  }

  .top-nav__menu-switch {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    font-size: 22px;
    border: solid 1px #ddd;
  }
}

@media only screen and (min-width: 768px) {
  .top-nav__menu-switch {
    display: none;
  }
}
