.hero {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-image: url(../images/slider-bg-2.jpg);
  background-size: cover;

  height: 700px;
}

.title {
  display: block;

  &--one {
    padding: 0px 25px;
    border-radius: 6px;
    z-index: 3;

    // font-size: 72px;
    font-weight: 700;

    color: white;

    transform: rotate(4deg);
    background-color: deeppink;
  }

  &--two {
    padding: 0px 25px;

    border-radius: 6px;
    z-index: 4;

    // font-size: 48px;
    font-weight: 700;

    color: white;

    background-color: #fdc856;
  }

  &--three {
    padding: 6px 28px;
    border-radius: 6px;

    // font-size: 36px;
    font-weight: 700;

    color: white;

    background-color: #bdde64;
  }
}
.margin__title {
  margin-bottom: 10px;
}

// responsive
@media only screen and (max-width: 576px) {
  // modify font-size and center the text on mobile
  .title--one {
    text-align: center;

    font-size: 40px;
    line-height: 3rem;
  }
  .title--two {
    text-align: center;
    font-size: 30px;
  }
  .title--three {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  // modify font-size on tablet, laptop and destop
  .title--one {
    display: flex;
    align-items: center;

    height: 90px;
    font-size: 72px;
  }
  .title--two {
    font-size: 48px;
  }
  .title--three {
    font-size: 36px;
  }
}
